.container{
  background-color: white;
  margin: 120px 60px 0px 60px;
}

.user-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}
#user-avatar{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
}

#about-me, #year{
  margin-left: $content-margin-left;
  margin-right: $content-margin-left;
}

#title{
  margin-top: -15px;
  padding-top: 4px;
  font-weight: bold;
}

#title, #description{
  margin-left: 110px;
  margin-right: $content-margin-left;
  padding-left: 10px;
  background-color: $gray-light;
  padding-bottom: 4px;
  &:last-child{
    margin-bottom: 20px;
  }
}
#description{
  margin-bottom: 6px;
}

#education-list{
  display: flex;
  flex-flow:column wrap-reverse;
  justify-content:center;
}